@import "reset.scss";

// --- Variables ---
// Colors
$body-gradient: linear-gradient(to bottom right, #84fab0, #8fd3f4);
$shadow-div: 0px 3px 6px rgba(0, 0, 0, .15);
$shadow-input: 0px 3px 6px rgba(0, 0, 0, .15);
$shadow-btn: 0px 3px 6px rgba(0, 0, 0, .15);
$text-color: #353B48;
$placeholder-color: rgba(112, 112, 122, .5);
$hr-color: #353B48;
$icon-color: #353B48;
$red-bin-color: #E74C3C;
$red-logout-color: #E74C3C;
$btn-bg-color: #84fab0;
$form-bg-color: rgba(255, 255, 255, .35);

// Font-family & size
$main-font: "Montserrat", sans-serif;
$form-title-size: 2em;
$form-input-size: 1.1em;
$card-list-name-size: 23px;
$card-list-phone-size: 20px;
$card-list-email-size: 20px;
$card-list-address-size: 18px;
$card-list-description-size: 14px;

// Elements size 
$logo-height: 80px;
$logo-width: 150px;
$input-height: 45px;
$input-width: 450px;
$input-radius: 7px;
$btn-height: 40px;
$btn-width: 180px;
$btn-radius: 7px;


// --- STYLES ---
html,
body {
    background: $body-gradient;
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: $main-font;
    scroll-behavior: smooth;
    width: 100%;

    // ---------------------------------------
    // Login Page Styles
    .div-logo {
        background: black;
        height: $logo-height;
        margin: 20px 0 0 20px;
        width: $logo-width;
    }

    .index-div-connexion {
        border-radius: 15px;
        box-shadow: $shadow-div;
        display: flex;
        justify-content: center;
        font-family: $main-font;
        margin: 100px auto;
        width: 600px;

        .index-form {
            display: flex;
            align-items: center;
            flex-direction: column;
            background-color: $form-bg-color;
            border: none;
            border-radius: 15px;
            font-size: 1.1em;
            margin: 0 auto;
            width: 100%;

            .index-title {
                color: $text-color;
                font-size: $form-title-size;
                font-weight: bold;
                margin: 35px 0px;
                text-align: center;
            }

            .index-separation-form {
                color: $hr-color;
                margin-bottom: 35px;
                width: 50%;
            }

            i {
                background-color: white;
                border-radius: $input-radius 0px 0px $input-radius;
                color: $icon-color;
                font-size: 1.6em;
                line-height: 45px;
                padding: 0px 15px;
                position: absolute;
            }

            input[type="text"],
            input[type="password"] {
                border: none;
                border-radius: $input-radius;
                box-shadow: $shadow-input;
                font-family: $main-font;
                font-size: 1.05em;
                height: $input-height;
                margin-bottom: 20px;
                outline: none;
                padding: 0px 15px;
                resize: none;
                text-indent: 45px;
                width: $input-width;

                &::placeholder {
                    color: $placeholder-color;
                    font-family: $main-font;
                    font-size: 1.1em;
                    letter-spacing: 2px;
                }
            }

            button[type="submit"] {
                background-color: $btn-bg-color;
                border: none;
                border-radius: $btn-radius;
                box-shadow: $shadow-btn;
                color: $text-color;
                cursor: pointer;
                font-family: $main-font;
                font-size: 1em;
                font-weight: bold;
                height: $btn-height;
                letter-spacing: 1.5px;
                margin-bottom: 30px;
                margin-top: 20px;
                width: $btn-width;
            }
        }
    }

    // ---------------------------------------
    // List Page Styles
    .list-title-container {
        display: flex;
        justify-content: center;

        .list-title {
            color: $text-color;
            font-family: $main-font;
            font-size: 40px;
            margin-bottom: 50px;
            margin-top: 15px;
        }
    }

    #list-cards {
        align-items: center;
        display: flex;
        flex-direction: column;

        .list-card {
            background-color: white;
            border-radius: 10px;
            box-shadow: $shadow-div;
            display: flex;
            flex-direction: column;
            margin: 15px;
            padding: 15px;
            width: 50%;

            .list-card-line1 {
                color: $text-color;
                display: flex;
                justify-content: space-between;
                margin: 10px 10px 0px 10px;

                p {

                    &.list-name {
                        font-weight: bold;
                        font-size: $card-list-name-size;
                        line-height: $card-list-name-size;
                    }

                    &.list-email {
                        font-size: $card-list-email-size;
                    }

                    &.list-phone {
                        line-height: $card-list-phone-size;
                        font-size: $card-list-phone-size;
                    }

                }

                a {
                    color: $text-color;
                    transition: all .1s ease-in-out;

                    &:hover {
                        transform: scale(1.1);
                    }

                    .pen {
                        font-size: 30px;
                    }
                }  
            }

            .list-card-line2 {
                display: flex;
                justify-content: flex-start;
                margin: 10px;
                color: $text-color;

                p.list-address {
                    font-size: $card-list-address-size;
                }
            }
            
            .list-card-line3 {
                display: flex;
                justify-content: space-between;
                margin: 10px;
                color: #353B48;
    
                p {
                    font-size: $card-list-description-size;
                }
    
                .bin {
                    color: $red-bin-color;
                    font-size: 30px;
                    transition: all .1s ease-in-out;
    
                    &:hover {
                        transform: scale(1.1);
                    }
    
                }
            }
        }
    }

    a {
        color: #353B48;

        .list-add-div {
            align-items: center;
            background-color: white;
            border-radius: 50%;
            bottom: 10px;
            box-shadow: 0px 3px 6px rgba(0, 0, 0, .4);
            display: flex;
            height: 60px;
            justify-content: center;
            left: 10px;
            margin: 10px;
            padding: 10px;
            position: fixed;
            transition: all .1s ease-in-out;
            width: 60px;

            &:hover {
                box-shadow: 0px 3px 6px rgba(0, 0, 0, .6);
                transform: scale(1.05);

                .add {
                    transform: scale(1.05);
                }
            }

            .add {
                font-size: 4em;
                transition: all .1s ease-in-out;
            }
        }
    }

    .list-logout-form {
        align-items: center;
        background-color: $red-logout-color;
        border-radius: 50%;
        bottom: 10px;
        box-shadow: 0px 3px 6px rgba(0, 0, 0, .4);
        display: flex;
        height: 60px;
        justify-content: center;
        margin: 10px;
        padding: 10px;
        position: fixed;
        right: 10px;
        transition: all .1s ease-in-out;
        width: 60px;

        &:hover {
            box-shadow: 0px 3px 6px rgba(0, 0, 0, .6);
            transform: scale(1.05);

            .logout {
                transform: scale(1.05);
            }
        }

        button {
            background-color: transparent;
            border: none;
            border-radius: 50%;
            cursor: pointer;
            height: 100%;
            width: 100%;            
        }

        .logout {
            color: #ffffff;
            font-size: 3.4em;
        }
    }

    
    // ---------------------------------------
    // Adding Page Styles
    a.back {
        color: $text-color;
        position: absolute;
        text-align: center;
        text-decoration: none;
        width: 100px;
    }

    .add-goback-btn {
        border: 1px transparent solid;
        display: flex;
        height: 30px;
        margin: 15px 0px 0px 20px;
        position: absolute;
        transition: all .1s ease-in-out;
        width: 100px;

        &:hover {
            background: rgba(255, 255, 255, 0.3);
            border-radius: 5px;
            box-shadow: $shadow-div;            
        }

        p {
            display: inline-block;
            font-size: 1.2em;
            line-height: 30px;
        }
        i {
            font-size: 2em;
            line-height: 30px;
        }
    }

    .add-div-connexion {
        border-radius: 15px;
        box-shadow: $shadow-div;
        display: flex;
        justify-content: center;
        font-family: $main-font;
        margin: 50px  auto;
        width: 600px;

        .add-form {
            display: flex;
            align-items: center;
            flex-direction: column;
            background-color: $form-bg-color;
            border: none;
            border-radius: 15px;
            font-size: 1.1em;
            margin: 0 auto;
            width: 100%;

            .add-title {
                color: $text-color;
                font-size: $form-title-size;
                font-weight: bold;
                margin: 35px 0px;
                text-align: center;
            }

            .add-separation-form {
                color: $hr-color;
                margin-bottom: 35px;
                width: 50%;
            }

            i {
                background-color: white;
                border-radius: $input-radius 0px 0px $input-radius;
                color: $icon-color;
                font-size: 1.6em;
                line-height: 45px;
                padding: 0px 15px;
                position: absolute;
            }

            i.comment {
                margin-top: 1px;
            }

            input[type="email"],
            input[type="text"],
            input[type="number"],
            textarea {
                border: none;
                border-radius: $input-radius;
                box-shadow: $shadow-input;
                font-family: $main-font;
                font-size: 1.05em;
                height: $input-height;
                margin-bottom: 20px;
                outline: none;
                padding: 0px 15px;
                resize: none;
                text-indent: 45px;
                width: $input-width;

                &::placeholder {
                    color: $placeholder-color;
                    font-family: $main-font;
                    font-size: 1.1em;
                    letter-spacing: 2px;
                }
            }

            textarea {
                height: 110px;
                padding-top: 8px;
                line-height: 1.95;
            }

            button[type="submit"] {
                background-color: $btn-bg-color;
                border: none;
                border-radius: $btn-radius;
                box-shadow: $shadow-btn;
                color: $text-color;
                cursor: pointer;
                font-family: $main-font;
                font-size: 1em;
                font-weight: bold;
                height: $btn-height;
                letter-spacing: 1.5px;
                margin-bottom: 25px;
                width: $btn-width;
            }
        }
    }
}