/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
body {
  background: -webkit-gradient(linear, left top, right bottom, from(#84fab0), to(#8fd3f4));
  background: linear-gradient(to bottom right, #84fab0, #8fd3f4);
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
  width: 100%;
}

html .div-logo,
body .div-logo {
  background-image: url("../img/ViaBrico-Logo.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 85px;
  margin: 20px 0 0 20px;
  width: 150px;
}

html .index-div-connexion,
body .index-div-connexion {
  border-radius: 15px;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Montserrat", sans-serif;
  margin: 100px auto;
  width: 600px;
}

html .index-div-connexion .index-form,
body .index-div-connexion .index-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: rgba(255, 255, 255, 0.35);
  border: none;
  border-radius: 15px;
  font-size: 1.1em;
  margin: 0 auto;
  width: 100%;
}

html .index-div-connexion .index-form .index-title,
body .index-div-connexion .index-form .index-title {
  color: #353B48;
  font-size: 2em;
  font-weight: bold;
  margin: 35px 0px;
  text-align: center;
}

html .index-div-connexion .index-form .index-separation-form,
body .index-div-connexion .index-form .index-separation-form {
  color: #353B48;
  margin-bottom: 35px;
  width: 50%;
}

html .index-div-connexion .index-form i,
body .index-div-connexion .index-form i {
  background-color: white;
  border-radius: 7px 0px 0px 7px;
  color: #353B48;
  font-size: 1.6em;
  line-height: 45px;
  padding: 0px 15px;
  position: absolute;
}

html .index-div-connexion .index-form input[type="text"],
html .index-div-connexion .index-form input[type="password"],
body .index-div-connexion .index-form input[type="text"],
body .index-div-connexion .index-form input[type="password"] {
  border: none;
  border-radius: 7px;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);
  font-family: "Montserrat", sans-serif;
  font-size: 1.05em;
  height: 45px;
  margin-bottom: 20px;
  outline: none;
  padding: 0px 15px;
  resize: none;
  text-indent: 45px;
  width: 450px;
}

html .index-div-connexion .index-form input[type="text"]::-webkit-input-placeholder,
html .index-div-connexion .index-form input[type="password"]::-webkit-input-placeholder,
body .index-div-connexion .index-form input[type="text"]::-webkit-input-placeholder,
body .index-div-connexion .index-form input[type="password"]::-webkit-input-placeholder {
  color: rgba(112, 112, 122, 0.5);
  font-family: "Montserrat", sans-serif;
  font-size: 1.1em;
  letter-spacing: 2px;
}

html .index-div-connexion .index-form input[type="text"]:-ms-input-placeholder,
html .index-div-connexion .index-form input[type="password"]:-ms-input-placeholder,
body .index-div-connexion .index-form input[type="text"]:-ms-input-placeholder,
body .index-div-connexion .index-form input[type="password"]:-ms-input-placeholder {
  color: rgba(112, 112, 122, 0.5);
  font-family: "Montserrat", sans-serif;
  font-size: 1.1em;
  letter-spacing: 2px;
}

html .index-div-connexion .index-form input[type="text"]::-ms-input-placeholder,
html .index-div-connexion .index-form input[type="password"]::-ms-input-placeholder,
body .index-div-connexion .index-form input[type="text"]::-ms-input-placeholder,
body .index-div-connexion .index-form input[type="password"]::-ms-input-placeholder {
  color: rgba(112, 112, 122, 0.5);
  font-family: "Montserrat", sans-serif;
  font-size: 1.1em;
  letter-spacing: 2px;
}

html .index-div-connexion .index-form input[type="text"]::placeholder,
html .index-div-connexion .index-form input[type="password"]::placeholder,
body .index-div-connexion .index-form input[type="text"]::placeholder,
body .index-div-connexion .index-form input[type="password"]::placeholder {
  color: rgba(112, 112, 122, 0.5);
  font-family: "Montserrat", sans-serif;
  font-size: 1.1em;
  letter-spacing: 2px;
}

html .index-div-connexion .index-form button[type="submit"],
body .index-div-connexion .index-form button[type="submit"] {
  background-color: #84fab0;
  border: none;
  border-radius: 7px;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);
  color: #353B48;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  font-weight: bold;
  height: 40px;
  letter-spacing: 1.5px;
  margin-bottom: 30px;
  margin-top: 20px;
  width: 180px;
}

html .list-title-container,
body .list-title-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

html .list-title-container .list-title,
body .list-title-container .list-title {
  color: #353B48;
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  margin-bottom: 50px;
  margin-top: 15px;
}

html #list-cards,
body #list-cards {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

html #list-cards .list-card,
body #list-cards .list-card {
  background-color: white;
  border-radius: 10px;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 15px;
  padding: 15px;
  width: 50%;
}

html #list-cards .list-card .list-card-line1,
body #list-cards .list-card .list-card-line1 {
  color: #353B48;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 10px 10px 0px 10px;
}

html #list-cards .list-card .list-card-line1 p.list-name,
body #list-cards .list-card .list-card-line1 p.list-name {
  font-weight: bold;
  font-size: 23px;
  line-height: 23px;
}

html #list-cards .list-card .list-card-line1 p.list-email,
body #list-cards .list-card .list-card-line1 p.list-email {
  font-size: 20px;
}

html #list-cards .list-card .list-card-line1 p.list-phone,
body #list-cards .list-card .list-card-line1 p.list-phone {
  line-height: 20px;
  font-size: 20px;
}

html #list-cards .list-card .list-card-line1 a,
body #list-cards .list-card .list-card-line1 a {
  color: #353B48;
  -webkit-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
}

html #list-cards .list-card .list-card-line1 a:hover,
body #list-cards .list-card .list-card-line1 a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

html #list-cards .list-card .list-card-line1 a .pen,
body #list-cards .list-card .list-card-line1 a .pen {
  font-size: 30px;
}

html #list-cards .list-card .list-card-line2,
body #list-cards .list-card .list-card-line2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 10px;
  color: #353B48;
}

html #list-cards .list-card .list-card-line2 p.list-address,
body #list-cards .list-card .list-card-line2 p.list-address {
  font-size: 18px;
}

html #list-cards .list-card .list-card-line3,
body #list-cards .list-card .list-card-line3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 10px;
  color: #353B48;
}

html #list-cards .list-card .list-card-line3 p,
body #list-cards .list-card .list-card-line3 p {
  font-size: 14px;
}

html #list-cards .list-card .list-card-line3 .bin,
body #list-cards .list-card .list-card-line3 .bin {
  color: #E74C3C;
  font-size: 30px;
  -webkit-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
}

html #list-cards .list-card .list-card-line3 .bin:hover,
body #list-cards .list-card .list-card-line3 .bin:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

html a,
body a {
  color: #353B48;
}

html a .list-add-div,
body a .list-add-div {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  border-radius: 50%;
  bottom: 10px;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.4);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 60px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  left: 10px;
  margin: 10px;
  padding: 10px;
  position: fixed;
  -webkit-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
  width: 60px;
}

html a .list-add-div:hover,
body a .list-add-div:hover {
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.6);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.6);
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

html a .list-add-div:hover .add,
body a .list-add-div:hover .add {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

html a .list-add-div .add,
body a .list-add-div .add {
  font-size: 4em;
  -webkit-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
}

html .list-logout-form,
body .list-logout-form {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #E74C3C;
  border-radius: 50%;
  bottom: 10px;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.4);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 60px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 10px;
  padding: 10px;
  position: fixed;
  right: 10px;
  -webkit-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
  width: 60px;
}

html .list-logout-form:hover,
body .list-logout-form:hover {
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.6);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.6);
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

html .list-logout-form:hover .logout,
body .list-logout-form:hover .logout {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

html .list-logout-form button,
body .list-logout-form button {
  background-color: transparent;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  height: 100%;
  width: 100%;
}

html .list-logout-form .logout,
body .list-logout-form .logout {
  color: #ffffff;
  font-size: 3.4em;
}

html a.back,
body a.back {
  color: #353B48;
  position: absolute;
  text-align: center;
  text-decoration: none;
  width: 100px;
}

html .add-goback-btn,
body .add-goback-btn {
  border: 1px transparent solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 30px;
  margin: 15px 0px 0px 20px;
  position: absolute;
  -webkit-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
  width: 100px;
}

html .add-goback-btn:hover,
body .add-goback-btn:hover {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);
}

html .add-goback-btn p,
body .add-goback-btn p {
  display: inline-block;
  font-size: 1.2em;
  line-height: 30px;
}

html .add-goback-btn i,
body .add-goback-btn i {
  font-size: 2em;
  line-height: 30px;
}

html .add-div-connexion,
body .add-div-connexion {
  border-radius: 15px;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Montserrat", sans-serif;
  margin: 50px  auto;
  width: 600px;
}

html .add-div-connexion .add-form,
body .add-div-connexion .add-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: rgba(255, 255, 255, 0.35);
  border: none;
  border-radius: 15px;
  font-size: 1.1em;
  margin: 0 auto;
  width: 100%;
}

html .add-div-connexion .add-form .add-title,
body .add-div-connexion .add-form .add-title {
  color: #353B48;
  font-size: 2em;
  font-weight: bold;
  margin: 35px 0px;
  text-align: center;
}

html .add-div-connexion .add-form .add-separation-form,
body .add-div-connexion .add-form .add-separation-form {
  color: #353B48;
  margin-bottom: 35px;
  width: 50%;
}

html .add-div-connexion .add-form i,
body .add-div-connexion .add-form i {
  background-color: white;
  border-radius: 7px 0px 0px 7px;
  color: #353B48;
  font-size: 1.6em;
  line-height: 45px;
  padding: 0px 15px;
  position: absolute;
}

html .add-div-connexion .add-form i.comment,
body .add-div-connexion .add-form i.comment {
  margin-top: 1px;
}

html .add-div-connexion .add-form input[type="email"],
html .add-div-connexion .add-form input[type="text"],
html .add-div-connexion .add-form input[type="number"],
html .add-div-connexion .add-form textarea,
body .add-div-connexion .add-form input[type="email"],
body .add-div-connexion .add-form input[type="text"],
body .add-div-connexion .add-form input[type="number"],
body .add-div-connexion .add-form textarea {
  border: none;
  border-radius: 7px;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);
  font-family: "Montserrat", sans-serif;
  font-size: 1.05em;
  height: 45px;
  margin-bottom: 20px;
  outline: none;
  padding: 0px 15px;
  resize: none;
  text-indent: 45px;
  width: 450px;
}

html .add-div-connexion .add-form input[type="email"]::-webkit-input-placeholder,
html .add-div-connexion .add-form input[type="text"]::-webkit-input-placeholder,
html .add-div-connexion .add-form input[type="number"]::-webkit-input-placeholder,
html .add-div-connexion .add-form textarea::-webkit-input-placeholder,
body .add-div-connexion .add-form input[type="email"]::-webkit-input-placeholder,
body .add-div-connexion .add-form input[type="text"]::-webkit-input-placeholder,
body .add-div-connexion .add-form input[type="number"]::-webkit-input-placeholder,
body .add-div-connexion .add-form textarea::-webkit-input-placeholder {
  color: rgba(112, 112, 122, 0.5);
  font-family: "Montserrat", sans-serif;
  font-size: 1.1em;
  letter-spacing: 2px;
}

html .add-div-connexion .add-form input[type="email"]:-ms-input-placeholder,
html .add-div-connexion .add-form input[type="text"]:-ms-input-placeholder,
html .add-div-connexion .add-form input[type="number"]:-ms-input-placeholder,
html .add-div-connexion .add-form textarea:-ms-input-placeholder,
body .add-div-connexion .add-form input[type="email"]:-ms-input-placeholder,
body .add-div-connexion .add-form input[type="text"]:-ms-input-placeholder,
body .add-div-connexion .add-form input[type="number"]:-ms-input-placeholder,
body .add-div-connexion .add-form textarea:-ms-input-placeholder {
  color: rgba(112, 112, 122, 0.5);
  font-family: "Montserrat", sans-serif;
  font-size: 1.1em;
  letter-spacing: 2px;
}

html .add-div-connexion .add-form input[type="email"]::-ms-input-placeholder,
html .add-div-connexion .add-form input[type="text"]::-ms-input-placeholder,
html .add-div-connexion .add-form input[type="number"]::-ms-input-placeholder,
html .add-div-connexion .add-form textarea::-ms-input-placeholder,
body .add-div-connexion .add-form input[type="email"]::-ms-input-placeholder,
body .add-div-connexion .add-form input[type="text"]::-ms-input-placeholder,
body .add-div-connexion .add-form input[type="number"]::-ms-input-placeholder,
body .add-div-connexion .add-form textarea::-ms-input-placeholder {
  color: rgba(112, 112, 122, 0.5);
  font-family: "Montserrat", sans-serif;
  font-size: 1.1em;
  letter-spacing: 2px;
}

html .add-div-connexion .add-form input[type="email"]::placeholder,
html .add-div-connexion .add-form input[type="text"]::placeholder,
html .add-div-connexion .add-form input[type="number"]::placeholder,
html .add-div-connexion .add-form textarea::placeholder,
body .add-div-connexion .add-form input[type="email"]::placeholder,
body .add-div-connexion .add-form input[type="text"]::placeholder,
body .add-div-connexion .add-form input[type="number"]::placeholder,
body .add-div-connexion .add-form textarea::placeholder {
  color: rgba(112, 112, 122, 0.5);
  font-family: "Montserrat", sans-serif;
  font-size: 1.1em;
  letter-spacing: 2px;
}

html .add-div-connexion .add-form textarea,
body .add-div-connexion .add-form textarea {
  height: 110px;
  padding-top: 8px;
  line-height: 1.95;
}

html .add-div-connexion .add-form button[type="submit"],
body .add-div-connexion .add-form button[type="submit"] {
  background-color: #84fab0;
  border: none;
  border-radius: 7px;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);
  color: #353B48;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  font-weight: bold;
  height: 40px;
  letter-spacing: 1.5px;
  margin-bottom: 25px;
  width: 180px;
}
/*# sourceMappingURL=main.css.map */