/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
body {
  width: 100%;
  font-family: "Montserrat", sans-serif;
  background: -webkit-gradient(linear, left top, right bottom, from(#84fab0), to(#8fd3f4));
  background: linear-gradient(to bottom right, #84fab0, #8fd3f4);
  background-repeat: no-repeat;
  background-attachment: fixed;
  scroll-behavior: smooth;
}

html .index-div-logo,
body .index-div-logo {
  margin: 20px 0 0 20px;
  background: black;
  width: 150px;
  height: 80px;
}

html .index-div-connexion,
body .index-div-connexion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

html .index-div-connexion .index-connexion,
body .index-div-connexion .index-connexion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 20px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 15px;
  width: 600px;
  height: 400px;
}

html .index-div-connexion .index-connexion .index-title-connexion,
body .index-div-connexion .index-connexion .index-title-connexion {
  font-size: 2.5rem;
  margin-top: 30px;
  height: 80px;
  color: #353b48;
}

html .index-div-connexion .index-connexion .index-border,
body .index-div-connexion .index-connexion .index-border {
  width: 150px;
  border-top: solid 2px #353b48;
}

html .index-div-connexion .index-connexion .index-email,
body .index-div-connexion .index-connexion .index-email {
  margin-top: 45px;
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  border-bottom-left-radius: 10px;
}

html .index-div-connexion .index-connexion .index-email .index-icon-mail,
body .index-div-connexion .index-connexion .index-email .index-icon-mail {
  background: white;
  height: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 15px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

html .index-div-connexion .index-connexion .index-email input,
body .index-div-connexion .index-connexion .index-email input {
  width: 100%;
  height: 40px;
  border: none;
  padding-left: 15px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  outline: none;
}

html .index-div-connexion .index-connexion .index-email input::-webkit-input-placeholder,
body .index-div-connexion .index-connexion .index-email input::-webkit-input-placeholder {
  color: grey;
}

html .index-div-connexion .index-connexion .index-email input:-ms-input-placeholder,
body .index-div-connexion .index-connexion .index-email input:-ms-input-placeholder {
  color: grey;
}

html .index-div-connexion .index-connexion .index-email input::-ms-input-placeholder,
body .index-div-connexion .index-connexion .index-email input::-ms-input-placeholder {
  color: grey;
}

html .index-div-connexion .index-connexion .index-email input::placeholder,
body .index-div-connexion .index-connexion .index-email input::placeholder {
  color: grey;
}

html .index-div-connexion .index-connexion .index-password,
body .index-div-connexion .index-connexion .index-password {
  margin-top: 25px;
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}

html .index-div-connexion .index-connexion .index-password .index-icon-password,
body .index-div-connexion .index-connexion .index-password .index-icon-password {
  background: white;
  height: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 15px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

html .index-div-connexion .index-connexion .index-password input,
body .index-div-connexion .index-connexion .index-password input {
  width: 100%;
  height: 40px;
  border: none;
  padding-left: 15px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  outline: none;
}

html .index-div-connexion .index-connexion .index-password input::-webkit-input-placeholder,
body .index-div-connexion .index-connexion .index-password input::-webkit-input-placeholder {
  color: grey;
}

html .index-div-connexion .index-connexion .index-password input:-ms-input-placeholder,
body .index-div-connexion .index-connexion .index-password input:-ms-input-placeholder {
  color: grey;
}

html .index-div-connexion .index-connexion .index-password input::-ms-input-placeholder,
body .index-div-connexion .index-connexion .index-password input::-ms-input-placeholder {
  color: grey;
}

html .index-div-connexion .index-connexion .index-password input::placeholder,
body .index-div-connexion .index-connexion .index-password input::placeholder {
  color: grey;
}

html .index-div-connexion .index-connexion .index-button,
body .index-div-connexion .index-connexion .index-button {
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 21%;
  width: 100%;
}

html .index-div-connexion .index-connexion .index-button input,
body .index-div-connexion .index-connexion .index-button input {
  padding: 10px 20px;
  color: #353B48;
  background: #84FAB0;
  border: none;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
  outline: none;
}

html .list-div-logo,
body .list-div-logo {
  margin: 20px 0 0 20px;
  background: black;
  width: 150px;
  height: 80px;
}

html .list-title-container,
body .list-title-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

html .list-title-container .list-title,
body .list-title-container .list-title {
  color: #353B48;
  font-size: 40px;
  margin-bottom: 50px;
  margin-top: 15px;
}

html .list-cards,
body .list-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html .list-cards .list-card,
body .list-cards .list-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  width: 50%;
  border-radius: 10px;
  padding: 15px;
  margin: 15px;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.4);
}

html .list-cards .list-card .list-card-line1,
body .list-cards .list-card .list-card-line1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 10px;
  color: #353B48;
}

html .list-cards .list-card .list-card-line1 p,
body .list-cards .list-card .list-card-line1 p {
  margin: 0px 10px 5px 0px;
  font-size: 25px;
}

html .list-cards .list-card .list-card-line1 .list-name,
body .list-cards .list-card .list-card-line1 .list-name {
  font-weight: bolder;
}

html .list-cards .list-card .list-card-line1 a,
body .list-cards .list-card .list-card-line1 a {
  color: #353B48;
  -webkit-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
}

html .list-cards .list-card .list-card-line1 a:hover,
body .list-cards .list-card .list-card-line1 a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

html .list-cards .list-card .list-card-line1 a .pen,
body .list-cards .list-card .list-card-line1 a .pen {
  font-size: 30px;
}

html .list-cards .list-card .list-card-line2,
body .list-cards .list-card .list-card-line2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 10px;
  color: #353B48;
}

html .list-cards .list-card .list-card-line2 p,
body .list-cards .list-card .list-card-line2 p {
  font-size: 20px;
}

html .list-cards .list-card .list-card-line3,
body .list-cards .list-card .list-card-line3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 10px;
  color: #353B48;
}

html .list-cards .list-card .list-card-line3 .bin,
body .list-cards .list-card .list-card-line3 .bin {
  color: #E74C3C;
  font-size: 30px;
  -webkit-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
}

html .list-cards .list-card .list-card-line3 .bin:hover,
body .list-cards .list-card .list-card-line3 .bin:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

html a,
body a {
  color: #353B48;
}

html a .list-add-div,
body a .list-add-div {
  background-color: white;
  padding: 10px;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.4);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px;
  position: fixed;
  bottom: 10px;
  left: 10px;
  -webkit-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
}

html a .list-add-div:hover,
body a .list-add-div:hover {
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.6);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.6);
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

html a .list-add-div:hover .add,
body a .list-add-div:hover .add {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

html a .list-add-div .add,
body a .list-add-div .add {
  font-size: 4em;
  -webkit-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
}

html a.back,
body a.back {
  color: #353B48;
  position: absolute;
  text-align: center;
  text-decoration: none;
  width: 100px;
}

html .add-goback-btn,
body .add-goback-btn {
  border: 1px transparent solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 30px;
  margin: 15px 0px 0px 20px;
  position: absolute;
  -webkit-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
  width: 100px;
}

html .add-goback-btn:hover,
body .add-goback-btn:hover {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);
}

html .add-goback-btn p,
body .add-goback-btn p {
  display: inline-block;
  font-size: 1.2em;
  line-height: 30px;
}

html .add-goback-btn i,
body .add-goback-btn i {
  font-size: 2em;
  line-height: 30px;
}

html .add-div-connexion,
body .add-div-connexion {
  border-radius: 15px;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Montserrat", sans-serif;
  margin: 50px  auto;
  width: 600px;
}

html .add-div-connexion .add-form,
body .add-div-connexion .add-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: rgba(255, 255, 255, 0.4);
  border: none;
  border-radius: 15px;
  font-size: 1.1em;
  margin: 0 auto;
  width: 100%;
}

html .add-div-connexion .add-form .add-title,
body .add-div-connexion .add-form .add-title {
  color: #353B48;
  font-size: 1.8em;
  font-weight: bold;
  margin: 35px 0px;
  text-align: center;
}

html .add-div-connexion .add-form .add-separation-form,
body .add-div-connexion .add-form .add-separation-form {
  color: #353B48;
  margin-bottom: 35px;
  width: 50%;
}

html .add-div-connexion .add-form i,
body .add-div-connexion .add-form i {
  background-color: white;
  border-radius: 5px 0px 0px 5px;
  color: #353B48;
  font-size: 1.6em;
  line-height: 45px;
  padding: 0px 15px;
  position: absolute;
}

html .add-div-connexion .add-form i.comment,
body .add-div-connexion .add-form i.comment {
  margin-top: 1px;
}

html .add-div-connexion .add-form input[type="email"],
html .add-div-connexion .add-form input[type="text"],
html .add-div-connexion .add-form textarea,
body .add-div-connexion .add-form input[type="email"],
body .add-div-connexion .add-form input[type="text"],
body .add-div-connexion .add-form textarea {
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);
  font-family: "Montserrat", sans-serif;
  font-size: 1.05em;
  height: 45px;
  margin-bottom: 20px;
  padding: 0px 15px;
  resize: none;
  text-indent: 45px;
  width: 450px;
  outline: none;
}

html .add-div-connexion .add-form input[type="email"]::-webkit-input-placeholder,
html .add-div-connexion .add-form input[type="text"]::-webkit-input-placeholder,
html .add-div-connexion .add-form textarea::-webkit-input-placeholder,
body .add-div-connexion .add-form input[type="email"]::-webkit-input-placeholder,
body .add-div-connexion .add-form input[type="text"]::-webkit-input-placeholder,
body .add-div-connexion .add-form textarea::-webkit-input-placeholder {
  color: rgba(112, 112, 122, 0.5);
  font-family: "Montserrat", sans-serif;
  font-size: 1.1em;
  letter-spacing: 2px;
}

html .add-div-connexion .add-form input[type="email"]:-ms-input-placeholder,
html .add-div-connexion .add-form input[type="text"]:-ms-input-placeholder,
html .add-div-connexion .add-form textarea:-ms-input-placeholder,
body .add-div-connexion .add-form input[type="email"]:-ms-input-placeholder,
body .add-div-connexion .add-form input[type="text"]:-ms-input-placeholder,
body .add-div-connexion .add-form textarea:-ms-input-placeholder {
  color: rgba(112, 112, 122, 0.5);
  font-family: "Montserrat", sans-serif;
  font-size: 1.1em;
  letter-spacing: 2px;
}

html .add-div-connexion .add-form input[type="email"]::-ms-input-placeholder,
html .add-div-connexion .add-form input[type="text"]::-ms-input-placeholder,
html .add-div-connexion .add-form textarea::-ms-input-placeholder,
body .add-div-connexion .add-form input[type="email"]::-ms-input-placeholder,
body .add-div-connexion .add-form input[type="text"]::-ms-input-placeholder,
body .add-div-connexion .add-form textarea::-ms-input-placeholder {
  color: rgba(112, 112, 122, 0.5);
  font-family: "Montserrat", sans-serif;
  font-size: 1.1em;
  letter-spacing: 2px;
}

html .add-div-connexion .add-form input[type="email"]::placeholder,
html .add-div-connexion .add-form input[type="text"]::placeholder,
html .add-div-connexion .add-form textarea::placeholder,
body .add-div-connexion .add-form input[type="email"]::placeholder,
body .add-div-connexion .add-form input[type="text"]::placeholder,
body .add-div-connexion .add-form textarea::placeholder {
  color: rgba(112, 112, 122, 0.5);
  font-family: "Montserrat", sans-serif;
  font-size: 1.1em;
  letter-spacing: 2px;
}

html .add-div-connexion .add-form textarea,
body .add-div-connexion .add-form textarea {
  height: 110px;
  padding-top: 8px;
  line-height: 1.5;
}

html .add-div-connexion .add-form button[type="submit"],
body .add-div-connexion .add-form button[type="submit"] {
  background-color: #84fab0;
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);
  color: #353B48;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  font-weight: bold;
  height: 40px;
  letter-spacing: 2px;
  margin-bottom: 25px;
  width: 180px;
}
/*# sourceMappingURL=main.css.map */